*{
      margin: 0px;
      padding: 0px;}
body{
      background-color: #424242;
      color: #ffffff;
      font-family: open sans, Arial, Helvetica, sans-serif;
      font-size: 1.2rem;}
h1, h2, h3, h4, h5, h6{
      color: #ffffff;

      }
.badge{
      background-color: #00b18c;
      font-size: 1em;
      margin: 0px 0px 10px 0px;}
a{
      text-decoration: none;
      color: #1565C0;
}

.text-primary{
      color: #1565C0;
}

.btn-outline-primary{
      border: 1px solid #1565C0;}
.btn-outline-primary{
      color: #1565C0;}
.btn-outline-primary:hover{
      background-color:#1565C0;
      border: 1px solid #1565C0;}


.btn-primary{
      background-color: #1565C0;
      border: 1px solid #1565C0;
}
.btn-primary:hover{
      background-color: #10539e;
      border: 1px solid #10539e;
}







.mobileNav{
      position: fixed;
      bottom: 0px;
      width: 100%;

      background-color: #212121;
      z-index: 10; 
      padding: 1.5vmax;}
.mobileNav img{
      padding: 1.5vw;
      width: 48px;}
.mobileNav a{
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
      font-size: 1rem;
      font-weight: 400;}  
@media screen and (max-width:768px){
      .desktopElement{
            display: none;
      }
      .mobileNav{
            justify-content: space-around;
            align-items: center;
      }
}
.desktopNav nav ul .dropdown a {
      font-size: 1.25rem;}
.desktopNav{
      font-size: 1.25rem;
      font-weight: bold;
      background-color: #212121;
      padding: 2vw 0vw 2vw 0vw;}
.navButton{
      background-color: #00b18c;
      font-weight: 400;
      border: none;}
.nav-link{
      box-sizing: border-box;
      color: #00b18c;
      }
.nav-link:hover{
      border-radius: 5px;
      color: #00b18c;
      padding: -1px;
      margin: -1px;
      border: 1px solid #00b18c;}
.current{
      box-sizing: border-box;
      border-radius: 5px;
      background-color: #00b18c;
      color: #212121;}
.current:hover{
      border-radius: 5px;
      box-sizing: border-box;
      color: #212121}



.galleryGrid{
      display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-gap:15px;
      margin: 0vh 0vh 3vh 0vh;
}
.gridItem img{
      width: 100%;
      height: 100%;
      object-fit: cover;
}
@media screen and (max-width: 468px){
      .galleryGrid{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
            grid-gap:15px;
      }

}



#hero .container{
      border-radius: 15px;
}
@media screen and (max-width: 468px){
      #hero .container{
            border-radius: 0px;
            height: 95vh;
      }
      #hero h1 {
            text-align: center;
      }
}


#contact input:focus{
      box-shadow: none;
      border: 2.5px solid #00b18c;
}
#contact input{
      color: #ffffff;
      border: 1.5px solid #00b18c;
      background-color: #212121;
}
#contact input::placeholder{
      color: #ffffff;
}
#contact textArea{
      color: #ffffff;
      border: 1.5px solid #00b18c;
      background-color: #212121;
}



.supportButton .material-symbols-outlined{  
      font-size: 2em;
}
.supportTicket{
      display: none;
      position: fixed;
      bottom: 3vh;
      right: 3vh;
      z-index: 100;
      width: 575px;
      background-color: #212121;}
.supportTicket input{
      background-color: #424242;
      color:#ffffff;
      box-shadow: none;
      outline: none;
      border: none;}
.supportTicket input:focus{
      box-shadow: 0px 2px 10px -2px #00b18c, 0px -2px 10px -2px #00b18c;
      
}
.supportTicket input::placeholder{
      color: #ffffff;}
.supportTicket textArea{
      background-color: #424242;
      color:#ffffff;
      box-shadow: none;
      outline: none;
      border: none;}
.supportTicket textArea:focus{
      box-shadow: 0px 2px 10px -2px #00b18c, 0px -2px 10px -2px #00b18c;
}
.supportTicket textArea::placeholder{
      color: #ffffff;}
.visible{
      display: block;
}
.hide{
      display: none;
}











#services{
      margin: 5vh 0vh 0vh 0vh;}

.cardButton{
      display: flex;
      align-items: center;
}




#about{
      margin: 5vw 0vw 0vw 0vw;
      padding: 2.5vw;
}

.accordion {
      --bs-accordion-color: var(--bs-body-color);
      --bs-accordion-bg: var(--bs-body-bg);
      --bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
      --bs-accordion-border-color: none;
      --bs-accordion-border-width: var(--bs-border-width);
      --bs-accordion-border-radius: var(--bs-border-radius);
      --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
      --bs-accordion-btn-padding-x: 1.25rem;
      --bs-accordion-btn-padding-y: 1rem;
      --bs-accordion-btn-color: var(--bs-body-color);
      --bs-accordion-btn-bg: var(--bs-accordion-bg);
      --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      --bs-accordion-btn-icon-width: 1.25rem;
      --bs-accordion-btn-icon-transform: rotate(-180deg);
      --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
      --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23052c65'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      --bs-accordion-btn-focus-border-color: #00b18c;
      --bs-accordion-btn-focus-box-shadow: none;
      --bs-accordion-body-padding-x: 1.25rem;
      --bs-accordion-body-padding-y: 1rem;
      --bs-accordion-active-color: #ffffff;
      --bs-accordion-active-bg: #212121;
  }
.accordion-item{
      background-color: #212121;
      color: #ffffff;
}
button.accordion-button{
      background: #212121;
      color: #ffffff;
      
}



.productBenefits h3{
      color: #00b18c;
}
.productContainer{
      width: 95vw;
      margin: auto;
      border-radius: 16px;
    
}

.salesCard{
      border: 3px solid #00b18c;
}


@media screen and (max-width: 468px){
      #homeUtilityNav a{
            width: 100%;
      }
      #homeUtilityNav-buttons{
            width: 75vw;
      }
}

#socialNavCard{
      background-color: #00b18c;
      display: flex;
      flex-direction: column;
      padding: 5vw;
      text-align: center;
      
      
}
.socialNav{
      text-align: center;
}
.socialNav a{
      color: #ffffff;
      text-decoration: none;
      border: 3px solid #ffffff;
      padding: 10px 20px 10px 20px;
      margin: 5px;
}
.socialNav a:hover{
      background-color: #ffffff;
      color: #000000;
}

footer{
      background-color: #212121;
      padding: 2vw 2vw 2vw 2vw;
      margin: 0vw 0vw 0vw 0vw;
}
.fixedFooter{
      background-color: #212121;
      padding: 2vw 2vw 2vw 2vw;
      margin: 0vw 0vw 0vw 0vw;
      position:absolute;
      bottom: 0px;
      width: 100%;
}